@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme (Default) */
  --color-foreground: rgb(0, 0, 0);
  --color-background: rgb(225, 232, 233);

  /* Dark Theme */
  &[data-theme='dark'] {
    --color-foreground: rgb(255, 255, 255);
    --color-background: rgb(22, 26, 31);
  }
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  transition: background-color 0.4s;
}
